<section>
<!--  <mw-media-item-form></mw-media-item-form>-->
  <mw-media-item-reactive-form></mw-media-item-reactive-form>
  <header>
    <h1>Media Watch List</h1>
    <p class="description">Keeping track of the media I want to watch.</p>
    <p>categories: {{mediaItems | categoryList}}</p>
  </header>
  <mw-media-item
    *ngFor="let mediaItem of mediaItems"
    [mediaItem]="mediaItem"
    (delete)="onMediaItemDelete($event)"
    [ngClass]="{'medium-movies': mediaItem.medium === 'Movie', 'medium-series': mediaItem.medium === 'Series'}">

  </mw-media-item>

</section>
